/* All styles for your Card Components live here */


.card-wrapper{
    width:88%;
    margin-left:80px
}

.card-wrapper .lambda-image{
    width:100%;
    height:250px;
}

.bottom-content{
    border:1px solid lightgrey;
    margin-top:-10px;
    
}

.bottom-content h1 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 5px;
}

.bottom-content p {
    font-size: 15px;
    padding-left: 20px;
    margin-top: 5px;
}

.bottom-content p:nth-child(3){
    color:grey;
}